<% user = User.find(notification.from_user_id) %>
<% cafe = Cafe.find(notification.cafe_id) %>
<li id="notification-<%= notification.id %>">
  <div>
    <% if notification.variety == 1 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの投稿が<%= link_to user.name, user_path(user) %>さんにお気に入り登録されました。</p>
    <% elsif notification.variety == 2 %>
      <p><%= notification.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></p>
      <p class="notification-message">あなたの投稿に<%= link_to user.name, user_path(user) %>さんがコメントしました。
      「<%= notification.content %>」</p>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to((image_tag cafe.picture.url), cafe_path(cafe), class: 'cafe-picture') %>
    </div>
    <div class="col-md-7">
      <p><%= link_to cafe.name, cafe_path(cafe) %></p>
      <p><%= cafe.description %></p>
    </div>
  </div>
</li>
