<% provide(:title, "カフェ情報の編集") %>
<div id="fh5co-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@cafe) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <span class="picture">
            <%= f.label :picture %>　<span class="input-unneed">※任意</span>
            <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'cafe_picture' %>
            <%= image_tag(@cafe.picture.thumb200.url) if @cafe.picture.url.present? %>
            <p></p>
          </span>
          <p></p>
          <div class = 'form-group'>
            <%= f.label :name %>　<span class="input-need">※必須</span>
            <%= f.text_field :name, class: 'form-control', id: 'cafe_name' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :order %>　<span class="input-need">※必須</span>
            <%= f.text_field :order, class: 'form-control', id: 'cafe_order' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :description %>　<span class="input-unneed">※任意</span>
            <%= f.text_field :description, size: "60x4", class: 'form-control', id: 'cafe_description' %>
          </div>
          <div class="row">
            <div class="col-md-9">
              <p class="title-ingredient-name">最寄り駅　<span class="input-unneed">※任意</span></p>
            </div>
          </div>
          <%= f.fields_for :ingredients do |i| %>
            <div class="row">
              <div class="col-md-9">
                <div class = 'form-group'>
                  <%= i.text_field :name, class: 'form-control ingredient_name' %>
                </div>
              </div>
            </div>
          <% end %>
          <div class = 'form-group'>
            <%= f.label :reference %>　<span class="input-unneed">※任意</span>
            <%= f.text_field :reference, class: 'form-control', id: 'cafe_reference' %>
          </div>
          <div class = 'form-group'>
            <%= f.label :popularity %> [1~5]　<span class="input-unneed">※任意</span>
            <%= f.text_field :popularity, class: 'form-control', id: 'cafe_popularity' %>
          </div>
          <%= f.submit "更新する", class: "btn btn-primary" %>
          <p></p>
          <%= link_to "投稿を削除する", cafe_path(@cafe), method: :delete,
                                      data: { confirm: "本当にこの投稿を削除してよろしいですか？" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
